# Data Visualization with Modern Data Science

> Assignment 3

Yao-Jen Kuo <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

## Instructions

- The assignment will be disconnected if idling over 10 minutes, we can reactivate a new session by clicking the assignment link again.
- If you accidentally delete some of the cells, just re-click the assignment link again for a whole new session.
- Write down your solution between comments `-- BEGIN SOLUTION` and `-- END SOLUTION`.
- It is highly recommended that you test your solution in SQLiteStudio then paste into Jupyter Notebook.
- Running tests to see if your solutions are right:
    - File -> Save Notebook to save `exercises.ipynb`.
    - File -> New -> Terminal to open a Terminal.
    - Use command `python test_runner.py` to run test.
- When you are ready to submit, click File -> Export Notebook As -> Executable Script.
- Rename the exported Python script with your student ID(e.g. `b01234567.py`) and upload to the Assignment session on NTU COOL.

![](nbadb-erd.png)

## 01. Write a SQL statement that is able to retrieve the table list given database `nba.db`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 2) result.

Hint: querying metadata table `sqlite_master`.

```
    type              name
0  table  career_summaries
1  table           players
2  table             teams
```

In [ ]:
retrieve_table_list_from_nbadb =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 02. Write a SQL statement that is able to retrieve the table information given database `nba.db`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 3) result.

Hint: number of columns can be queried through `pragma_table_info()`.

```
               name  number_of_rows  number_of_columns
0  career_summaries             502                 31
1           players             502                 18
2             teams              30                 12
```

In [ ]:
retrieve_table_info_from_nbadb =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 03. Write a SQL statement that is able to count the number of players from each country in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (42, 2) result.

```
                   country  number_of_players
0                      USA                384
1                   Canada                 20
2                   France                 10
3                  Germany                  8
4                Australia                  7
5                   Serbia                  5
6                    Spain                  5
7                  Nigeria                  4
8                   Turkey                  4
9                  Bahamas                  3
10                 Croatia                  3
11                   Japan                  3
12               Lithuania                  3
13                Slovenia                  3
14               Argentina                  2
15                  Brazil                  2
16                Cameroon                  2
17          Czech Republic                  2
18                     DRC                  2
19      Dominican Republic                  2
20                 Georgia                  2
21                  Greece                  2
22                  Latvia                  2
23              Montenegro                  2
24                 Ukraine                  2
25          United Kingdom                  2
26                  Angola                  1
27                 Austria                  1
28  Bosnia and Herzegovina                  1
29                 Denmark                  1
30                 Finland                  1
31                  Israel                  1
32                   Italy                  1
33                 Jamaica                  1
34             New Zealand                  1
35                Portugal                  1
36   Republic of the Congo                  1
37             Saint Lucia                  1
38                 Senegal                  1
39             South Sudan                  1
40                   Sudan                  1
41             Switzerland                  1
```

In [ ]:
count_players_from_each_country =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 04. Write a SQL statement that is able to count the number of players from USA or not in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (2, 2) result.

```
  from_usa_or_not  number_of_players
0        From USA                384
1    Not from USA                118
```

In [ ]:
count_players_from_usa_or_not =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 05. Write a SQL statement that is able to count the number of players for each position in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (7, 2) result.

```
   pos  number_of_players
0    G                195
1    F                140
2  G-F                 47
3  F-C                 37
4    C                 37
5  C-F                 26
6  F-G                 20
```

In [ ]:
count_players_for_each_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 06. Write a SQL statement that is able to re-categorize the number of players for each position according the first letter of `pos` in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 2) result.

```
  new_pos  number_of_players
0       G                242
1       F                197
2       C                 63
```

In [ ]:
count_players_for_each_new_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 07. Write a SQL statement that is able to calculate the proportion for each position in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (7, 2) result.

```
   pos proportion
0    C      7.37%
1  C-F      5.18%
2    F     27.89%
3  F-C      7.37%
4  F-G      3.98%
5    G     38.84%
6  G-F      9.36%
```

In [ ]:
calculate_proportion_for_each_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 08. Write a SQL statement that is able to find the roster of Phoenix Suns in `teams` and `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (17, 4) result.

```
        teamName  pos firstName   lastName
0   Phoenix Suns    C   Bismack    Biyombo
1   Phoenix Suns    C   Deandre      Ayton
2   Phoenix Suns  C-F    JaVale      McGee
3   Phoenix Suns    F       Jae    Crowder
4   Phoenix Suns    F    Torrey      Craig
5   Phoenix Suns    F     Mikal    Bridges
6   Phoenix Suns    F   Cameron    Johnson
7   Phoenix Suns    F       Ish  Wainright
8   Phoenix Suns  F-C     Dario      Saric
9   Phoenix Suns  F-C     Frank   Kaminsky
10  Phoenix Suns    G     Chris       Paul
11  Phoenix Suns    G    Elfrid     Payton
12  Phoenix Suns    G     Devin     Booker
13  Phoenix Suns    G   Cameron      Payne
14  Phoenix Suns    G     Aaron    Holiday
15  Phoenix Suns    G    Landry     Shamet
16  Phoenix Suns    G   Gabriel   Lundberg
```

In [ ]:
find_roster_of_phx_suns =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 09. Write a SQL statement that is able to find the top 10 scorers with the most points in `players` and `career_summaries`.

- Expected inputs：a SQL statement.
- Expected outputs：a (10, 3) result.

```
  firstName   lastName  points
0    LeBron      James   36985
1   Carmelo    Anthony   28223
2     Kevin     Durant   25213
3     James     Harden   23281
4   Russell  Westbrook   23140
5     Chris       Paul   20844
6  LaMarcus   Aldridge   20558
7   Stephen      Curry   20064
8     DeMar    DeRozan   19610
9    Dwight     Howard   19377
```

In [ ]:
find_the_top_ten_scorers =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 10. Write a SQL statement that is able to find the players with the most `ppg`, `rpg`, `apg`, `bpg`, and `spg` in `career_summaries` and `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (5, 4) result.

```
  firstName  lastName  key  value
0     Andre  Drummond  rpg   13.3
1   Anthony     Davis  bpg    2.3
2     Chris      Paul  apg    9.5
3     Chris      Paul  spg    2.1
4    LeBron     James  ppg   27.1
```

In [ ]:
find_the_top_players =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## End of assignment, ignore the following cells.

In [ ]:
import pandas as pd

def function_retrieve_table_list_from_nbadb(con):
    return pd.read_sql(retrieve_table_list_from_nbadb, con)
def function_retrieve_table_info_from_nbadb(con):
    return pd.read_sql(retrieve_table_info_from_nbadb, con)
def function_count_players_from_each_country(con):
    return pd.read_sql(count_players_from_each_country, con)
def function_count_players_from_usa_or_not(con):
    return pd.read_sql(count_players_from_usa_or_not, con)
def function_count_players_for_each_position(con):
    return pd.read_sql(count_players_for_each_position, con)
def function_count_players_for_each_new_position(con):
    return pd.read_sql(count_players_for_each_new_position, con)
def function_calculate_proportion_for_each_position(con):
    return pd.read_sql(calculate_proportion_for_each_position, con)
def function_find_roster_of_phx_suns(con):
    return pd.read_sql(find_roster_of_phx_suns, con)
def function_find_the_top_ten_scorers(con):
    return pd.read_sql(find_the_top_ten_scorers, con)
def function_find_the_top_players(con):
    return pd.read_sql(find_the_top_players, con)