# Data Visualization with Modern Data Science

> Assignment 3

Yao-Jen Kuo <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

## Instructions

- File -> Save a copy in Drive.
- The assignment will be disconnected if idling over 10 minutes, we can click Connect button on the upper-right corner to reactivate.
- If you accidentally delete some of the cells, just re-click the assignment link again for the original notebook.
- Write down your solution between comments `-- BEGIN SOLUTION` and `-- END SOLUTION`.
- It is highly recommended that you test your solution in SQLiteStudio then paste into Google Colab.
- Running tests to see if your solutions are right:
    - Click Connect button on the upper-right corner.
    - Runtime -> Restart and run all -> Yes.
    - Scroll down to the bottom of `exercises_colab.ipynb` to see the test result.
- When you are ready to submit, click File -> Download .py.
- Rename the exported Python script with your student ID(e.g. `b01234567.py`) and upload to the Assignment session on NTU COOL.

![](https://raw.githubusercontent.com/datainpoint/asgmt-3-data-viz-with-modern-ds-ntu-spring-2022/main/nbadb-erd.png)

## 01. Write a SQL statement that is able to retrieve the table list given database `nba.db`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 2) result.

Hint: querying metadata table `sqlite_master`.

```
    type              name
0  table  career_summaries
1  table           players
2  table             teams
```

In [ ]:
retrieve_table_list_from_nbadb =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 02. Write a SQL statement that is able to retrieve the table information given database `nba.db`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 3) result.

Hint: number of columns can be queried through `pragma_table_info()`.

```
               name  number_of_rows  number_of_columns
0  career_summaries             502                 31
1           players             502                 18
2             teams              30                 12
```

In [ ]:
retrieve_table_info_from_nbadb =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 03. Write a SQL statement that is able to count the number of players from each country in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (42, 2) result.

```
                   country  number_of_players
0                      USA                384
1                   Canada                 20
2                   France                 10
3                  Germany                  8
4                Australia                  7
5                   Serbia                  5
6                    Spain                  5
7                  Nigeria                  4
8                   Turkey                  4
9                  Bahamas                  3
10                 Croatia                  3
11                   Japan                  3
12               Lithuania                  3
13                Slovenia                  3
14               Argentina                  2
15                  Brazil                  2
16                Cameroon                  2
17          Czech Republic                  2
18                     DRC                  2
19      Dominican Republic                  2
20                 Georgia                  2
21                  Greece                  2
22                  Latvia                  2
23              Montenegro                  2
24                 Ukraine                  2
25          United Kingdom                  2
26                  Angola                  1
27                 Austria                  1
28  Bosnia and Herzegovina                  1
29                 Denmark                  1
30                 Finland                  1
31                  Israel                  1
32                   Italy                  1
33                 Jamaica                  1
34             New Zealand                  1
35                Portugal                  1
36   Republic of the Congo                  1
37             Saint Lucia                  1
38                 Senegal                  1
39             South Sudan                  1
40                   Sudan                  1
41             Switzerland                  1
```

In [ ]:
count_players_from_each_country =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 04. Write a SQL statement that is able to count the number of players from USA or not in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (2, 2) result.

```
  from_usa_or_not  number_of_players
0        From USA                384
1    Not from USA                118
```

In [ ]:
count_players_from_usa_or_not =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 05. Write a SQL statement that is able to count the number of players for each position in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (7, 2) result.

```
   pos  number_of_players
0    G                195
1    F                140
2  G-F                 47
3  F-C                 37
4    C                 37
5  C-F                 26
6  F-G                 20
```

In [ ]:
count_players_for_each_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 06. Write a SQL statement that is able to re-categorize the number of players for each position according the first letter of `pos` in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (3, 2) result.

```
  new_pos  number_of_players
0       G                242
1       F                197
2       C                 63
```

In [ ]:
count_players_for_each_new_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 07. Write a SQL statement that is able to calculate the proportion for each position in `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (7, 2) result.

```
   pos proportion
0    C      7.37%
1  C-F      5.18%
2    F     27.89%
3  F-C      7.37%
4  F-G      3.98%
5    G     38.84%
6  G-F      9.36%
```

In [ ]:
calculate_proportion_for_each_position =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 08. Write a SQL statement that is able to find the roster of Phoenix Suns in `teams` and `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (17, 4) result.

```
        teamName  pos firstName   lastName
0   Phoenix Suns    C   Bismack    Biyombo
1   Phoenix Suns    C   Deandre      Ayton
2   Phoenix Suns  C-F    JaVale      McGee
3   Phoenix Suns    F       Jae    Crowder
4   Phoenix Suns    F    Torrey      Craig
5   Phoenix Suns    F     Mikal    Bridges
6   Phoenix Suns    F   Cameron    Johnson
7   Phoenix Suns    F       Ish  Wainright
8   Phoenix Suns  F-C     Dario      Saric
9   Phoenix Suns  F-C     Frank   Kaminsky
10  Phoenix Suns    G     Chris       Paul
11  Phoenix Suns    G    Elfrid     Payton
12  Phoenix Suns    G     Devin     Booker
13  Phoenix Suns    G   Cameron      Payne
14  Phoenix Suns    G     Aaron    Holiday
15  Phoenix Suns    G    Landry     Shamet
16  Phoenix Suns    G   Gabriel   Lundberg
```

In [ ]:
find_roster_of_phx_suns =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 09. Write a SQL statement that is able to find the top 10 scorers with the most points in `players` and `career_summaries`.

- Expected inputs：a SQL statement.
- Expected outputs：a (10, 3) result.

```
  firstName   lastName  points
0    LeBron      James   36985
1   Carmelo    Anthony   28223
2     Kevin     Durant   25213
3     James     Harden   23281
4   Russell  Westbrook   23140
5     Chris       Paul   20844
6  LaMarcus   Aldridge   20558
7   Stephen      Curry   20064
8     DeMar    DeRozan   19610
9    Dwight     Howard   19377
```

In [ ]:
find_the_top_ten_scorers =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## 10. Write a SQL statement that is able to find the players with the most `ppg`, `rpg`, `apg`, `bpg`, and `spg` in `career_summaries` and `players`.

- Expected inputs：a SQL statement.
- Expected outputs：a (5, 4) result.

```
  firstName  lastName  key  value
0     Andre  Drummond  rpg   13.3
1   Anthony     Davis  bpg    2.3
2     Chris      Paul  apg    9.5
3     Chris      Paul  spg    2.1
4    LeBron     James  ppg   27.1
```

In [ ]:
find_the_top_players =\
"""
-- BEGIN SOLUTION

-- END SOLUTION
"""

## End of assignment, ignore the following cells.

In [ ]:
!wget -N https://raw.githubusercontent.com/datainpoint/asgmt-3-data-viz-with-modern-ds-ntu-spring-2022/main/nba.db

In [ ]:
import numpy as np
import pandas as pd
import unittest
import sqlite3

def function_retrieve_table_list_from_nbadb(con):
    return pd.read_sql(retrieve_table_list_from_nbadb, con)
def function_retrieve_table_info_from_nbadb(con):
    return pd.read_sql(retrieve_table_info_from_nbadb, con)
def function_count_players_from_each_country(con):
    return pd.read_sql(count_players_from_each_country, con)
def function_count_players_from_usa_or_not(con):
    return pd.read_sql(count_players_from_usa_or_not, con)
def function_count_players_for_each_position(con):
    return pd.read_sql(count_players_for_each_position, con)
def function_count_players_for_each_new_position(con):
    return pd.read_sql(count_players_for_each_new_position, con)
def function_calculate_proportion_for_each_position(con):
    return pd.read_sql(calculate_proportion_for_each_position, con)
def function_find_roster_of_phx_suns(con):
    return pd.read_sql(find_roster_of_phx_suns, con)
def function_find_the_top_ten_scorers(con):
    return pd.read_sql(find_the_top_ten_scorers, con)
def function_find_the_top_players(con):
    return pd.read_sql(find_the_top_players, con)

In [ ]:
connection = sqlite3.connect('nba.db')
class TestAssignmentThree(unittest.TestCase):
    def test_01_retrieve_table_list_from_nbadb(self):
        table_list_from_nbadb = function_retrieve_table_list_from_nbadb(connection)
        self.assertEqual(table_list_from_nbadb.shape, (3, 2))
        types = table_list_from_nbadb.iloc[:, 0].values
        names = table_list_from_nbadb.iloc[:, 1].values
        self.assertIn("table", types)
        self.assertIn("career_summaries", names)
        self.assertIn("players", names)
        self.assertIn("teams", names)
    def test_02_retrieve_table_info_from_nbadb(self):
        table_info_from_nbadb = function_retrieve_table_info_from_nbadb(connection)
        self.assertEqual(table_info_from_nbadb.shape, (3, 3))
        names = table_info_from_nbadb.iloc[:, 0].values
        self.assertIn("career_summaries", names)
        self.assertIn("players", names)
        self.assertIn("teams", names)
        number_of_rows = table_info_from_nbadb.iloc[:, 1].values
        self.assertIn(502, number_of_rows)
        self.assertIn(30, number_of_rows)
        number_of_columns = table_info_from_nbadb.iloc[:, 2].values
        self.assertIn(31, number_of_columns)
        self.assertIn(18, number_of_columns)
        self.assertIn(12, number_of_columns)
    def test_03_count_players_from_each_country(self):
        players_from_each_country = function_count_players_from_each_country(connection)
        self.assertEqual(players_from_each_country.shape, (42, 2))
        countries = players_from_each_country.iloc[:, 0].values
        self.assertIn("USA", countries)
        self.assertIn("Canada", countries)
        self.assertIn("France", countries)
        self.assertIn("Ukraine", countries)
        self.assertIn("Portugal", countries)
        number_of_players = players_from_each_country.iloc[:, 1].values
        self.assertEqual(number_of_players.sum(), 502)
    def test_04_count_players_from_usa_or_not(self):
        players_from_usa_or_not = function_count_players_from_usa_or_not(connection)
        self.assertEqual(players_from_usa_or_not.shape, (2, 2))
        from_usa_or_not = players_from_usa_or_not.iloc[:, 0].values
        self.assertEqual(np.unique(from_usa_or_not).size, 2)
        number_of_players = players_from_usa_or_not.iloc[:, 1].values
        self.assertEqual(number_of_players.sum(), 502)
    def test_05_count_players_for_each_position(self):
        players_for_each_position = function_count_players_for_each_position(connection)
        self.assertEqual(players_for_each_position.shape, (7, 2))
        positions = players_for_each_position.iloc[:, 0].values
        self.assertIn("G", positions)
        self.assertIn("F", positions)
        self.assertIn("G-F", positions)
        self.assertIn("F-C", positions)
        self.assertIn("C", positions)
        self.assertIn("C-F", positions)
        self.assertIn("F-G", positions)
        number_of_players = players_for_each_position.iloc[:, 1].values
        self.assertEqual(number_of_players.sum(), 502)
    def test_06_count_players_for_each_new_position(self):
        players_for_each_new_position = function_count_players_for_each_new_position(connection)
        self.assertEqual(players_for_each_new_position.shape, (3, 2))
        positions = players_for_each_new_position.iloc[:, 0].values
        self.assertIn("G", positions)
        self.assertIn("F", positions)
        self.assertIn("C", positions)
        number_of_players = players_for_each_new_position.iloc[:, 1].values
        self.assertEqual(number_of_players.sum(), 502)
    def test_07_calculate_proportion_for_each_position(self):
        proportion_for_each_position = function_calculate_proportion_for_each_position(connection)
        self.assertEqual(proportion_for_each_position.shape, (7, 2))
        positions = proportion_for_each_position.iloc[:, 0].values
        self.assertIn("G", positions)
        self.assertIn("F", positions)
        self.assertIn("G-F", positions)
        self.assertIn("F-C", positions)
        self.assertIn("C", positions)
        self.assertIn("C-F", positions)
        self.assertIn("F-G", positions)
    def test_08_find_roster_of_phx_suns(self):
        roster_of_phx_suns = function_find_roster_of_phx_suns(connection)
        self.assertEqual(roster_of_phx_suns.shape, (17, 4))
        team_names = roster_of_phx_suns.iloc[:, 0].values
        self.assertIn("Phoenix Suns", team_names)
        positions = roster_of_phx_suns.iloc[:, 1].values
        self.assertIn("C", positions)
        self.assertIn("C-F", positions)
        self.assertIn("F", positions)
        self.assertIn("F-C", positions)
        self.assertIn("G", positions)
        last_names = roster_of_phx_suns.iloc[:, 3].values
        self.assertIn("Ayton", last_names)
        self.assertIn("Crowder", last_names)
        self.assertIn("Bridges", last_names)
        self.assertIn("Paul", last_names)
        self.assertIn("Booker", last_names)
    def test_09_find_the_top_ten_scorers(self):
        the_top_ten_scorers = function_find_the_top_ten_scorers(connection)
        self.assertEqual(the_top_ten_scorers.shape, (10, 3))
        first_names = the_top_ten_scorers.iloc[:, 0].values
        self.assertIn("LeBron", first_names)
        self.assertIn("Carmelo", first_names)
        self.assertIn("Kevin", first_names)
        last_names = the_top_ten_scorers.iloc[:, 1].values
        self.assertIn("James", last_names)
        self.assertIn("Anthony", last_names)
        self.assertIn("Durant", last_names)
    def test_10_find_the_top_players(self):
        the_top_players = function_find_the_top_players(connection)
        self.assertEqual(the_top_players.shape, (5, 4))
        first_names = the_top_players.iloc[:, 0].values
        self.assertIn("Andre", first_names)
        self.assertIn("Anthony", first_names)
        self.assertIn("Chris", first_names)
        self.assertIn("LeBron", first_names)
        last_names = the_top_players.iloc[:, 1].values
        self.assertIn("Drummond", last_names)
        self.assertIn("Davis", last_names)
        self.assertIn("Paul", last_names)
        self.assertIn("James", last_names)
        keys = the_top_players.iloc[:, 2].values
        self.assertIn("rpg", keys)
        self.assertIn("bpg", keys)
        self.assertIn("apg", keys)
        self.assertIn("spg", keys)
        self.assertIn("ppg", keys)
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestAssignmentThree)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)
print("You've got {} successes among {} questions.".format(number_of_successes, number_of_test_runs))